@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Microsoft Entra ID  Continuous Access Evaluation</h1>
    <p>Razor Page with uses data from an API and CAE claims challenge</p>
</div>
