@page "/"

<h1>Azure AD using continuous access evaluation (CAE)</h1>

<p>Sample of an ASP.NET Core Blazor application protected using an Azure AD confidential client. The security is implemented using Microsoft.Identity.Web and the BFF arch. The Blazor application uses am API protected with continuous access evaluation (CAE)</p>
