@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Azure AD Continuous Access Evaluation</h1>
    <p>Razor Page with uses data from an API an CAE cliams challenge</p>
</div>
